{% extends "base.html" %}

{% block main %}
<div class="columns">
    <div class="column">
        <div class="field">
            <label class="label">Card Holder Name</label>
            <div class="control">
            <input class="input" type="text" placeholder="John Wick">
            </div>
        </div>
        
        <div class="field">
            <label class="label">Card Number</label>
            <div class="control">
            <input class="input" type="text" placeholder="Card Number" value="">
            </div>
        </div>
        
        <div class="field">
            <label class="label">Expiration Date</label>
            <div class="control">
            <input class="input" type="email" placeholder="YYYY/MM" value="">
            </div>
        </div>
        
        <div class="field">
            <label class="label">CVV</label>
            <div class="control">
            <input class="input" type="text" placeholder="CVV" value="">
            </div>
        </div>

        <div class="field">
            <label class="label">Brand</label>
            <div class="control">
            <input class="input" type="text" placeholder="Brand" value="">
            </div>
        </div>
    </div>
    <div class="column">

    </div>
</div>

  
  
  
  
  
  
  

{% endblock main %}