{% extends "base.html" %}
{%block  extra_js %} 
<script type="text/javascript" src="{{ url_for('static', filename='util.js') }}" defer></script>
<script type="text/javascript" src="{{ url_for('static', filename='list.js') }}" defer></script>
{% endblock extra_js%}
{% block main %}
<table class="table" id="cc_table">
    <thead>
      <tr>
        <th>Credit Card #</th>
        <th>Holder</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      
    </tbody>
</table>
{% endblock main %}