{% extends "base.html" %}

{%block  extra_js %} 
<script type="text/javascript" src="{{ url_for('static', filename='util.js') }}" defer></script>
<script type="text/javascript" src="{{ url_for('static', filename='new.js') }}" defer></script>
{% endblock extra_js%}

{% block main %}
<div id="notification">

</div>
<form id="cc-form">
    <div class="columns">
        <div class="column is-half">
            <div class="field">
                <label class="label">Card Holder Name</label>
                <div class="control">
                <input 
                    type="text" 
                    id="holder"
                    class="input" 
                    onfocusout="validateHolder();enableSubmit();">
                    <p class="help"></p>
                </div>
                
            </div>
            
            <div class="field">
                <label class="label">Card Number</label>
                <div class="control">
                <input  
                    type="text"
                    id="cc-number" 
                    class="input" 
                    onfocusout="validateCreditCard();enableSubmit();"
                    data-validated="false">
                <p class="help"></p>
                </div>
            </div>
            
            <div class="field">
                <label class="label">Expiration Date</label>
                <div class="control">
                <input class="input" 
                    type="text"
                    id="exp_date" 
                    placeholder="YYYY/MM" 
                    onfocusout="validateExpDate();enableSubmit();">
                    <p class="help"></p>
                </div>
            </div>
            
            <div class="field">
                <label class="label">CVV</label>
                <div class="control">
                <input class="input" 
                    type="text" 
                    placeholder="CVV" 
                    id="cvv"
                    onfocusout="validateCVV();enableSubmit();">
                    <p class="help"></p>
                </div>
            </div>

            <div class="field">
                <label class="label">Brand</label>
                <div class="control">
                <input class="input" 
                id="brand" 
                type="text" 
                placeholder="Brand" 
                readonly>
                </div>
            </div>
        
            <div class="field is-grouped">
                <div class="control">
                <button id="btn-submit" class="button is-link" disabled="true">Submit</button>
                </div>
                <div class="control">
                <button class="button is-link is-light">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock main %}
